<%- include("partials/header") -%>


<% var date = 0 %> 
<% var result = data%>

<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="images/page-title/5.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Ready To Serve</div>
                        <div class="title--heading">
                            <h1>Admin Contacts</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Admin</a></li>
                        <li class="active">Contacts Us</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<div class="container" style="padding: 50px; width: 60%; margin: auto;">

    <div class="tbl-content">

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
                <% if (result != null) {
                    
                %>
                <% result.forEach(element => { %> 
              <tr>
                
                <td><%= element.date %></td>
                <td><%= element.Email %></td>
                <td><%= element.Message %></td>
              </tr>
              <%  date = 1; }); %>
              <% } %>
              <% if(date == 0){ %>
                <tr>
                    <td colspan="3" style="text-align: center;">No Data Found</td>
                </tr>
              <% } %>
               
            </tbody>
          </table>
          
    </div>
</div>

<%- include("partials/footer") -%>