<%- include("partials/header") -%>

      <% var BM = BreakfastMenu  %> 
      <% var LM = LunchMenu %>
      <% var DM = DinnerMenu  %>
      <% var DRM = DrinksMenu %>
      <% var DSM = DessertMenu %>  
      <% var cBM = 1%> 
      <% var cLM = 1%> 
      <% var cDM = 1%> 
      <% var cDRM = 1%> 
      <% var cDSM = 1%>
      <% var TM = TodayMenu %> 
      <% var cTM = 1%> 
    <!-- Page Title #1
============================================= -->
    <section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
        <div class="bg-section">
            <img src="  images/page-title/16.jpg" alt="Background" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="title title-1 text-center">
                        <div class="title--content">
                            <div class="title--subtitle">Fresh, Tasty Meals</div>
                            <div class="title--heading">
                                <h1>Discover Our Menu</h1>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li><a href="menu-grid.html">menu</a>
                            </li>
                        </ol>
                        <div class="divider--shape-1down"></div>
                    </div>
                    <!-- .title end -->
                </div>
                <!-- .col-md-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section> <!-- #page-title end -->

    <!-- Menu Grid
============================================= -->
    <section id="menuGrid">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <div class="heading heading-1 mb-50 text--center">
                        <p class="heading--subtitle">Start Eating Better</p>
                        <h2 class="heading--title mb-0">Daily New Fresh Meals</h2>
                        <div class="divider--shape-4"></div>
                        <p class="heading--desc">Steak In has the perfect place to enjoy fine food and great cocktails
                            with excellent service, in comfortable atmospheric surroundings. We have a soft dining room,
                            combined with an open kitchen, coffee take out bar and alovely awesome on site coffee
                            roastery.</p>
                    </div>
                </div><!-- .col-md-8 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
        <div class="container-fluid pr-0 pl-0 tabs">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active" ><a href="#breakfast" data-toggle="tab">Breakfast</a></li>
                        <li> <a href="#lunch" data-toggle="tab">Lunch</a></li>
                        <li><a href="#dinner" data-toggle="tab">Dinner</a></li>
                        <li><a href="#dessert" data-toggle="tab">Dessert</a></li>
                        <li><a href="#drinks" data-toggle="tab">Drinks</a></li>
                        <li><a href="#todaymenu" data-toggle="tab">TodayMenu</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade" id="breakfast">
                            <!-- Menu #6
============================================= -->
                             
                            <div class="menu menu-grid text-center">
                               
                                <div class="container">
                                    
                                    <div class="row">
                                        <div class="dishes-wrapper">
                                            <% if(BM != null){ %> 
                                                <% BM.forEach(element => {  %> 
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price"> $ <%= element.Amount %></span>
                                                        <h3 class="dish--title"><%=element.ItemName%></h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"> <%=element.Details %> </p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cBM%>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cBM++%>.jpg"
                                                                                            alt="dish popup">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                               $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                <%=element.ItemName%>
                                                                                            </h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p> <%= element.Details %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->

                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .col-md-3 end -->
                                            <% })%>
                                            <% } %>   
                                        
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                       
                                    </div>
                                    
                                    <!-- .row end -->
                                </div>
                                
                                <!-- .container end -->
                            </div>
                         
                        </div><!-- .tab-pane end -->

                        <div class="tab-pane fade in active" id="lunch">
                            <!-- Menu #6
============================================= -->
                            <div class="menu menu-grid text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="dishes-wrapper">
                                            <% if(LM != null){ %> 
                                                <% LM.forEach(element => {  %> 
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price"> $ <%= element.Amount %> </span>
                                                        <h3 class="dish--title"> <%= element.ItemName %></h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"> <%= element.Details %> </p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cLM %>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup33"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup33">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cLM++ %>.jpg"
                                                                                            alt="dish popup">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                                $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                <%= element.ItemName %>
                                                                                            </h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p> <%= element.Details %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                            <% } %>   
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div><!-- .tab-pane end -->

                        <div class="tab-pane fade" id="dinner">
                            <!-- Menu #6
============================================= -->
                            <div class="menu menu-grid text-center">
                                <div class="container">
                                    <div class="row">
                                     
                                        <div class="dishes-wrapper">
                                            <% if(DM != null){ %> 
                                                <% DM.forEach(element => {  %>   
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price">$ <%= element.Amount %></span>
                                                        <h3 class="dish--title"><%= element.ItemName %></h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"><%= element.Details %></p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cDM%>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup25"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup25">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cDM++%>.jpg"
                                                                                            alt="dish img">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                                $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                <%= element.ItemName %></h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p> <%= element.Details %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                        <% } %>   
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                         
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div><!-- .tab-pane end -->

                        <div class="tab-pane fade" id="dessert">
                            <!-- Menu #6
============================================= -->
                            <div class="menu menu-grid text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="dishes-wrapper">
                                            <% if(DSM != null){ %> 
                                                <% DSM.forEach(element => {  %>     
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price">$ <%= element.Amount %></span>
                                                        <h3 class="dish--title"><%= element.ItemName %> </h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"> <%= element.Details %> </p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cDSM%>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup17"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup17">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cDSM++%>.jpg"
                                                                                            alt="dish img">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                                $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                <%= element.ItemName %></h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p><%= element.Details %></p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->

                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                            <% } %>   
                                            <!-- .col-md-3 end -->
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div><!-- .tab-pane end -->

                        <div class="tab-pane fade" id="drinks">
                            <!-- Menu #6
============================================= -->
                            <div class="menu menu-grid text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="dishes-wrapper">
                                            <% if(DRM != null){ %> 
                                                <% DRM.forEach(element => {  %>      
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price">$ <%= element.Amount %></span>
                                                        <h3 class="dish--title"><%= element.ItemName %></h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"><%= element.Details %></p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cDRM%>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup43"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup43">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cDRM++%>.jpg"
                                                                                            alt="dish img">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                                $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                $ <%= element.Amount %></h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p> <%= element.Details %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                            <% } %>  
                                            <!-- .col-md-3 end -->
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div><!-- .tab-pane end -->

                        <div class="tab-pane fade" id="todaymenu">
                            <!-- Menu #6
============================================= -->
                            <div class="menu menu-grid text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="dishes-wrapper">
                                            <% if(TM != null){ %> 
                                                <% TM.forEach(element => {  %>      
                                            <!-- Dish #1 -->
                                            <div class="col-xs-12 col-sm-6 col-md-3 p-0">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <span class="dish--price">$ <%= element.Amount %></span>
                                                        <h3 class="dish--title"><%= element.ItemName %></h3>
                                                        <div class="divider--shape-4"></div>
                                                        <p class="dish--desc"><%= element.Details %></p>
                                                    </div>
                                                    <div class="dish--img">
                                                        <div class="divider--shape-right"></div>
                                                        <img src="  images/menu/menu-grid/<%=cTM%>.jpg" alt="dish img">
                                                        <div class="dish--overlay">
                                                            <a class="dish-popup" data-toggle="modal"
                                                                data-target="#dishPopup43"><i
                                                                    class="fa fa-search-plus"></i></a>
                                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                                id="dishPopup43">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><i
                                                                                    class="fa fa-times"></i></button>
                                                                            <div class="row reservation">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="popup--img">
                                                                                        <img src="  images/menu/menu-grid/<%=cTM++%>.jpg"
                                                                                            alt="dish img">
                                                                                        <div class="img-popup-overlay">
                                                                                            <div class="popup--price">
                                                                                                $ <%= element.Amount %></div>
                                                                                            <h3 class="popup--title">
                                                                                                $ <%= element.Amount %></h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- .col-md-12 end -->
                                                                                <div
                                                                                    class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="content-popup">
                                                                                        <p> <%= element.Details %> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- .row end -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                            <% } %>  
                                            <!-- .col-md-3 end -->
                                        </div>
                                        <!-- .dishes-wrapper end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div><!-- .tab-pane end -->

                    </div><!-- .tabs-content end -->
                </div>
                <!-- .col-md-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section><!-- #menuGrid end -->

    <%- include("partials/footer") -%>