<%- include("partials/header") -%>

<% var BookingAvailablee = BookingAvailable %>
<% var reservationFlag = ReservationFlag %>

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="images/page-title/2.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Reservation</div>
                        <div class="title--heading">
                            <h1>Book Your Table</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Book A Table</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- Reservation #1
============================================= -->
<section id="reservation1" class="reservation bg-white pb-80 pt-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                
                <div class="reservation-form mt-10 mb-10 text-center">
                    <% if(reservationFlag){ %> 
                    <div class="reservation--dec">
                       <p>Your Reservations Have been made, We will contact you shortly!</p>
                    </div>
                    <% } %>
                    <br>
                    <div class="reservation--dec">
                        You can Book a table online easily in just a couple of minutes. We take reservations for lunch and dinner, just check the availability of your table & book it now!
                    </div>
                    <form method="post" action="/page-book-table-">
                        <div class="row">
                            <% if(BookingAvailablee != 0 ){ %> 
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="form-select">
                                    <i class="fa fa-angle-down"></i>
                                    <select class="form-control" name="people" id="num">
									<option>Number of people</option>
                                    <% BookingAvailablee.forEach(element => { %>
                                    <option value= <%=element.NoOfPeople%> ><%=element.NoOfPeople%></option>
									<% }) %> 
								</select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="form-select">
                                    <i class="fa fa-angle-down"></i>
                                    <select class="form-control" name="day" id="day">
									<option>Date</option>
                                    <% BookingAvailablee.forEach(element => { %>
                                        <option value= <%=element.BDate%> ><%=element.BDate%></option>
                                        <% }) %> 
								</select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="form-select">
                                    <i class="fa fa-angle-down"></i>
                                    <select class="form-control" name="time" id="time">
									<option>Time</option>
                                    <% BookingAvailablee.forEach(element => { %>
                                        <option value=<%=element.BTime%>><%=element.BTime%></option>
                                        <% }) %> 
								</select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="submit" class="btn btn--secondary btn--block">Book Table</button>
                                <!-- <button type="submit" id="submit-reservation" formaction="/page-book-table" class="btn btn--secondary btn--block">Book Table</button> -->
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <!--Alert Message-->
                                <div class="reservation-result"></div>
                            </div>
                        <% } %> 
                        </div>
                        <!-- .row end -->
                    </form>
                    <!-- form end -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="text-uppercase text-center">
                            <strong><span>Reservation Powered by</span> <a href="#">Opentable</a></strong>
                        </div>
                    </div>
                </div>
                <!-- .contact-form end -->
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #reservation1 end -->

<!-- Testimonial #5
============================================= -->
<section id="testimonial5" class="testimonial testimonial-5 bg-overlay bg-parallax bg-overlay-dark text-center">
    <div class="bg-section">
        <img src="images/background/2.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div id="testimonial-wide" class="carousel carousel-white" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="false" data-space="0" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--img">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Mahmoud Baghagho</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--img">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Henry Gabriel</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--img">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Leo Jaxon</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #4 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--img">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Anthony Hunter</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- .testimonial5 end -->

<!-- Banner#6
============================================= -->
<section id="banner6" class="banner banner-1 text-center pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="images/banners/1.jpg" alt="banner img" class="img-responsive">
                    </div>
                    <div class="banner--content">
                        <h4>Daily New Fresh Menus</h4>
                        <p>Steak In help you treat yourself with a different meal everyday, thanks to our daily changing menus and our awesome creative chefs!</p>
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="images/banners/2.jpg" alt="banner img" class="img-responsive">
                    </div>
                    <div class="banner--content">
                        <h4>Fresh Ingredient, Tasty Meals</h4>
                        <p>Who said healthy food can't also be delicious? Steak In creative chefs use fresh and seasonal ingredients to make affordable.</p>
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="images/banners/3.jpg" alt="banner img" class="img-responsive">
                    </div>
                    <div class="banner--content">
                        <h4>Creative & Talented Chefs</h4>
                        <p>Steak In have offered a team of culinary professionals that make delectable dishes at memorable events for both private clientele.</p>
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner6 end -->

<%- include("partials/footer") -%>
